<article class="show">
    {{ if image }}
    <div class="container">
    {{ else }}
    <div class="container base-mt">
    {{ /if }}
        <div class="row">
            <div class="col-12">
                {{ if image }}
                <img src="{{ glide:image preset:large }}" alt="{{ title }}" class="show__image">
                {{ /if }}

            </div>
           <div class="double-mb">
            <div class="offset-md-2 col-md-8 ">
                <h1 class="show__title">{{ title }}</h1>
                    {{ content }}
                    {{ if type == "text" }}
                    <div class="base-mb text">{{ text }}</div>
                    
                    {{ elseif quote }}
                    </div>
                    <div class="offset-md-1 col-md-10 base-mb">
                        <div class="set--quote">
                            <blockquote class="font-large">{{ quote }}</blockquote>
                        </div>
                    </div>
                    <div class="offset-md-2 col-md-8">
                        {{ elseif type == "video" }}
                        <div class="set--video">
                        <div class="row">
                            <div class="col-12 col-md-10 offset-md-1">
                                {{ if video | is_embeddable }}
                                <!-- Youtube and Vimeo -->
                                <iframe src="{{ video | embed_url }}" ...></iframe>
                                {{ else }}
                                <!-- Other HTML5 video types -->
                                <video src="{{ video | embed_url }}" ...></video>
                                {{ /if }}
                            </div>
                        </div>

                        </div>

                    {{ /if }}

                {{ /content }}

            </div>
           </div>
    </div>
    </div>
</article>
