{{ collection:pages slug:is="home" }}
{{ partial:partials/header }}
<section class="hero base-mb">
    <div class="container">
        <div class="row">
            {{ partial:partials/card-home }}

            <div class="col-12 col-lg-6">
                <div class="hero__card hero__right">
                    <div class="content">
                        <hgroup>
                            <h3>{{ secondary_title }}</h3>
                            <h2 class="font-xl">{{ secondary_description }}</h2>
                        </hgroup>
                        <footer>
                            <a href="/{{ locale }}/online-platform" class="button">{{ locale == "en" ? "Read more" : "Lees meer" }}</a>
                            <span> {{ locale == "en" ? "Do you have an account already?" : "Heb je al een account?" }} <a href="/login">Log in</a></span>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ /collection:pages}}
<section id="innovationlab" class="section section--innovationlab base-mb">
    <div class="container base-mb">
        <div class="row">
            <div class="col-12 center">
                <header>
                    <h2 class="font-xl">InnovationLab</h2>
                </header>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    {{ collection:innovationlab }}
                    <div class="col-lg-6">
                        {{ partial:partials/card-medium }}
                    </div>
                    {{ /collection:innovationlab }}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section section--innotalks base-mb">
    <div class="container base-mb">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="innotalks">
                    {{ collection:pages slug:is="innotalks" }}
                    <div class="innotalks__left" style="background-image: url({{ image }})">

                        <h2 class="font-large">{{ title }}</h2>
                    </div>
                    {{ /collection:pages }}
                    <div class="innotalks__right">
                        {{ collection:innotalks event_date:is_after="today"  sort="event_date:asc" limit="5" }} 
                        <a href="/{{ locale }}/innotalks/{{ slug }}" class="talk-item">
                            <div class="row">
                                <div class="col-md-2">
                                    <span class="talk-item__date">

                                        <div class="talk-item__day font-xl">{{ event_date format="d"  }}</div>
                                        <div class="talk-item__month font-regular">{{ event_date format="M"  }}</div>
                                    </span>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="talk-item__title font-medium">{{ title }}</h3>
                                </div>
                            </div>
                        </a>
                        {{ /collection:innotalks}}

                        <footer class="innotalks__footer">
                            <a href="/{{ locale }}/innotalks">Bekijk alle Innotalks</a>

                        </footer>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="{{ locale == "en" ? "Education" : "onderwijs" }}" class="section section--onderwijs base-mb base-pt base-pb">
    <div class="container">
        <div class="row">
            <div class="col-12 center">
                <header>
                    <h2 class="font-xl">{{ locale == "en" ? "Education" : "Onderwijs" }}</h2>
                </header>
            </div>
            <div class="section-swiper swiper">
                <div class="swiper-wrapper">
                    {{ collection:onderwijs  }}
                    <div class="swiper-slide">
                        {{ partial:partials/card-medium }}
                    </div>
                    {{ /collection:onderwijs }}

                </div>
                <div class="swiper__button-prev"></div>
                <div class="swiper__button-next"></div>


            </div>

        </div>
    </div>
</section>
<section id="{{ locale == "en" ? "research" : "onderzoek" }}" class="section section--onderzoek base-mb">
    <div class="container base-mb">
        <div class="row">
            <div class="col-12 center">
                <header>
                    <h2 class="font-xl">{{ locale == "en" ? "Research" : "Onderzoek" }}</h2>
                </header>
            </div>
            <div class="section-swiper swiper">
                <div class="swiper-wrapper">
                    {{ collection:onderzoek }}
                    <div class="swiper-slide">
                        {{ partial:partials/card-medium }}
                    </div>
                    {{ /collection:onderzoek }}

                </div>
                <div class="swiper__button-prev"></div>
                <div class="swiper__button-next"></div>
            </div>
        </div>
    </div>
</section>
