<article class="login">
    <div class="login__left">
        <a href="/" class="header__logo login__logo">
            <span class="logo">InnovationLab</span>
            <span class="tagline">NHL Stenden Academie vo &amp; mbo</span>
        </a>

    </div>

    <div class="login__inner">
        <div class="login__form-wrapper">
            <div class="login__form-header">
                <h1 class="login__title">{{ title }}</h1>
                <p>No account yet? Apply to <a href="/apply">InnovationLab</a></p>
            </div>
            <form action="" id="loginForm">
                <div class="form-group">
                    <label for="">Username or email address</label>
                    <input type="text" name="username">
                </div>
                <div class="form-group">
                    <label for="">Password</label>
                    <input type="password" name="password">
                </div>
                <div class="form-group form-group--login">
                    <span class="checkbox">
                        <label><input type="checkbox" name="autoLogin"> Keep me logged in</label>
                    </span>
                    <button type="submit" class="button button--primary u-float-right">
                        <span class="btn--more-loading"></span> Log in
                    </button>
                </div>
                <div class="alert">
                    
                </div>
                <div class="login-divider">
                    <hr>
                    <div>OR</div>
                </div>
                <div class="form-group">
                    <a class="button button--primary button--full-width"
                        href="https://api.myschoolsnetwork.com/surfconext/login?returnUrl=https://www.myschoolsnetwork.com/">Log
                        in using SURFconext</a>
                </div>
            </form>
        </div>
    </div>

</article>
