<div class="card card--medium">
    <figure>
        <img src="{{ image }}" alt="{{ title }}">
    </figure>
    <div class="card__content">
        <h3 class="font-medium">{{ title }}</h3>
        <div class="excerpt">
            {{ excerpt }}
        </div>
        <a href="/{{ locale }}/{{ collection }}/{{ slug }}" class="button button--outline">{{ locale == "en" ? "Read more" : "Lees meer" }}</a>
    </div>
</div>
