<div class="card card--medium">
    <figure>
        <img src="{{ image }}" alt="{{ title }}">
    </figure>
    <div class="card__content">
        <h3 class="font-medium">{{ title }}</h3>
        <div class="excerpt">
            {{ function }}
        </div>
    </div>
</div>
