<div class="col-12 col-lg-6">
    <div class="hero__card hero__left">
        <figure>
            <img src="{{ glide:image preset='hero' }}" alt="{{ title }}">
        </figure>
        <div class="content">
            <hgroup>
                <h3>{{ title }}</h3>
                <h2 class="font-xl">{{ description }}</h2>
            </hgroup>
            <footer><a href="/{{ locale }}#innovationlab"><svg xmlns="http://www.w3.org/2000/svg" width="69" height="69" viewBox="0 0 69 69">
                <path id="Subtraction_1" data-name="Subtraction 1" d="M-2495.5-6499a34.277,34.277,0,0,1-13.429-2.711,34.381,34.381,0,0,1-10.966-7.394,34.371,34.371,0,0,1-7.394-10.966A34.285,34.285,0,0,1-2530-6533.5a34.285,34.285,0,0,1,2.711-13.429,34.371,34.371,0,0,1,7.394-10.966,34.381,34.381,0,0,1,10.966-7.394A34.278,34.278,0,0,1-2495.5-6568a34.276,34.276,0,0,1,13.429,2.711,34.377,34.377,0,0,1,10.966,7.394,34.379,34.379,0,0,1,7.394,10.966A34.279,34.279,0,0,1-2461-6533.5a34.279,34.279,0,0,1-2.711,13.429,34.379,34.379,0,0,1-7.394,10.966,34.377,34.377,0,0,1-10.966,7.394A34.275,34.275,0,0,1-2495.5-6499Zm-16.644-45.5h0l16.716,29.253,16.716-29.253h-33.432Z" transform="translate(2529.999 6568)" fill="#fff"/>
              </svg>
              </a></footer>
        </div>
    </div>
</div>