<section id="contact" class="section section--contact ">
    <div class="container ">
        <div class="section--contact__inner double-pt double-pb">
            <div class="row">
                <div class="offset-md-1 col-md-5">
                    <h2 class="font-xl">{{ contact:titel }}</h2>
                    <p> <a href="{{ contact:link }}" class="button">{{ contact:link_tekst }}</a>
                    </p>
                </div>
                <div class="col-md-4">
                    {{ contact:details}}
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="container double-pt double-pb">
        <div class="row">
            <div class="col-md-6">
                <a href="/" class="footer__logo">
                    <span class="logo">InnovationLab</span>
                </a>
            </div>
            <div class="col-md-4">

                <nav class="footer__nav font-large">
                    <ul>
                        {{ nav:main_nav }}
                        <li><a href="{{ url }}">{{ title }}</a></li>
                        {{ /nav:main_nav }}
                    </ul>

                </nav>

               <nav class="footer__secondary-nav">
                <ul>
                    {{ nav:footermenu }}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                    {{ /nav:footermenu }}
                </ul>
               </nav>


            </div>
            <div class="col-md-2 footer__">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="112"
                    height="97.955" viewBox="0 0 112 97.955">
                    <defs>
                        <clipPath id="clip-path">
                            <path id="Path_4" data-name="Path 4" d="M0,63.323H112V-34.631H0Z"
                                transform="translate(0 34.631)" />
                        </clipPath>
                    </defs>
                    <g id="Group_56" data-name="Group 56" transform="translate(-65 -2884.411)">
                        <g id="Group_55" data-name="Group 55" transform="translate(65 2884.411)">
                            <g id="Group_18" data-name="Group 18" transform="translate(0 0)"
                                clip-path="url(#clip-path)">
                                <g id="Group_15" data-name="Group 15" transform="translate(0.023 79.275)">
                                    <path id="Path_1" data-name="Path 1"
                                        d="M3.324,2.214A2.543,2.543,0,0,1,2.6,4.107a2.51,2.51,0,0,1-1.833.716,2.55,2.55,0,0,1-1.85-.716,2.536,2.536,0,0,1-.733-1.892V-1.211h1.25V2.311a1.3,1.3,0,0,0,.379.979,1.305,1.305,0,0,0,.953.368,1.253,1.253,0,0,0,.925-.368,1.309,1.309,0,0,0,.373-.979V-1.211H3.324Z"
                                        transform="translate(1.818 1.211)" />
                                </g>
                                <g id="Group_16" data-name="Group 16" transform="translate(6.932 79.145)">
                                    <path id="Path_2" data-name="Path 2"
                                        d="M2.951.415a2.418,2.418,0,0,1,.588,1.7V5.8H2.278V2.285a1.4,1.4,0,0,0-.354-.993A1.219,1.219,0,0,0,.994.913,1.3,1.3,0,0,0,.027,1.3a1.352,1.352,0,0,0-.379.987V5.8H-1.614v-5.9H-.437V.494A2.282,2.282,0,0,1,1.33-.227,2.094,2.094,0,0,1,2.951.415"
                                        transform="translate(1.614 0.227)" />
                                </g>
                                <g id="Group_17" data-name="Group 17" transform="translate(13.611 76.237)">
                                    <path id="Path_3" data-name="Path 3"
                                        d="M.947.159A.8.8,0,0,1,1.2.753a.773.773,0,0,1-.252.588.833.833,0,0,1-.6.24.852.852,0,0,1-.614-.24A.783.783,0,0,1-.518.753.8.8,0,0,1-.266.159.845.845,0,0,1,.348-.087a.827.827,0,0,1,.6.246M.973,8.851H-.289v-5.9H.973Z"
                                        transform="translate(0.518 0.087)" />
                                </g>
                            </g>
                            <g id="Group_19" data-name="Group 19" transform="translate(16.242 79.276)">
                                <path id="Path_5" data-name="Path 5"
                                    d="M3.968,0,1.12,6.03H.687L-2.17,0H-.826L.893,3.9,2.622,0Z"
                                    transform="translate(2.17)" />
                            </g>
                            <g id="Group_31" data-name="Group 31" transform="translate(0 0)"
                                clip-path="url(#clip-path)">
                                <g id="Group_20" data-name="Group 20" transform="translate(22.909 79.144)">
                                    <path id="Path_6" data-name="Path 6"
                                        d="M3.673,2.26h-4.4A1.741,1.741,0,0,0-.086,3.4,1.991,1.991,0,0,0,1.2,3.81a2.55,2.55,0,0,0,1.717-.7l.6.863a3.331,3.331,0,0,1-2.356.95,3.11,3.11,0,0,1-2.268-.882,2.942,2.942,0,0,1-.9-2.192A3,3,0,0,1-1.127-.339a2.93,2.93,0,0,1,2.169-.9,2.663,2.663,0,0,1,1.952.769A2.607,2.607,0,0,1,3.77,1.468a3.513,3.513,0,0,1-.1.792M-.091.224A1.845,1.845,0,0,0-.7,1.276H2.508A1.384,1.384,0,0,0,2.064.224,1.538,1.538,0,0,0,.995-.167,1.626,1.626,0,0,0-.091.224"
                                        transform="translate(2.009 1.236)" />
                                </g>
                                <g id="Group_21" data-name="Group 21" transform="translate(30.131 79.217)">
                                    <path id="Path_7" data-name="Path 7"
                                        d="M2.181.038V1.156H1.8a1.81,1.81,0,0,0-1.236.427A1.507,1.507,0,0,0,.069,2.791V5.936H-1.193V.038H-.016V.808A2.024,2.024,0,0,1,1.7-.021a1.82,1.82,0,0,1,.481.059"
                                        transform="translate(1.193 0.021)" />
                                </g>
                                <g id="Group_22" data-name="Group 22" transform="translate(34.083 79.143)">
                                    <path id="Path_8" data-name="Path 8"
                                        d="M2.9.591l-.685.781A1.845,1.845,0,0,0,.829.772c-.535,0-.8.187-.8.563A.476.476,0,0,0,.2,1.714a2.312,2.312,0,0,0,.608.32l.566.226A3.61,3.61,0,0,1,2.6,3.012a1.435,1.435,0,0,1,.385,1.027,1.573,1.573,0,0,1-.625,1.327A2.5,2.5,0,0,1,.795,5.84,2.839,2.839,0,0,1-1.584,4.7l.721-.792a2.315,2.315,0,0,0,1.658.84,1.259,1.259,0,0,0,.679-.167.549.549,0,0,0,.269-.492.477.477,0,0,0-.2-.41,3.23,3.23,0,0,0-.631-.322L.314,3.1a3.527,3.527,0,0,1-1.16-.71,1.383,1.383,0,0,1-.379-1.01A1.5,1.5,0,0,1-.636.132,2.375,2.375,0,0,1,.854-.323,2.538,2.538,0,0,1,2.9.591"
                                        transform="translate(1.584 0.323)" />
                                </g>
                                <g id="Group_23" data-name="Group 23" transform="translate(39.872 76.237)">
                                    <path id="Path_9" data-name="Path 9"
                                        d="M.947.159A.8.8,0,0,1,1.2.753a.783.783,0,0,1-.252.588.833.833,0,0,1-.6.24.852.852,0,0,1-.614-.24A.783.783,0,0,1-.518.753.8.8,0,0,1-.266.159.845.845,0,0,1,.348-.087a.827.827,0,0,1,.6.246M.97,8.851H-.292v-5.9H.97Z"
                                        transform="translate(0.518 0.087)" />
                                </g>
                                <g id="Group_24" data-name="Group 24" transform="translate(42.515 77.727)">
                                    <path id="Path_10" data-name="Path 10"
                                        d="M2.7,4.123V5.192a4.983,4.983,0,0,1-1.044.133,2.318,2.318,0,0,1-1.6-.512A1.953,1.953,0,0,1-.516,3.269V.387h-.962V-.7h.962v-1.55H.757V-.7H2.51V.387H.757V3.162a.945.945,0,0,0,.294.792,1.4,1.4,0,0,0,.871.229A7.475,7.475,0,0,0,2.7,4.123"
                                        transform="translate(1.478 2.255)" />
                                </g>
                                <g id="Group_25" data-name="Group 25" transform="translate(47.285 79.276)">
                                    <path id="Path_11" data-name="Path 11"
                                        d="M3.968,0,1.1,6.571A3.11,3.11,0,0,1,.209,7.8a2.056,2.056,0,0,1-1.276.39,4.016,4.016,0,0,1-.97-.122V7c.368.031.6.048.7.048a1.438,1.438,0,0,0,.755-.187,1.417,1.417,0,0,0,.529-.679l.24-.552L-2.17,0H-.812L.882,4.3,2.622,0Z"
                                        transform="translate(2.17)" />
                                </g>
                                <g id="Group_26" data-name="Group 26" transform="translate(57.554 79.145)">
                                    <path id="Path_12" data-name="Path 12"
                                        d="M3.445.574a2.916,2.916,0,0,1,.919,2.186,2.937,2.937,0,0,1-.919,2.192,3.064,3.064,0,0,1-2.218.894,3.062,3.062,0,0,1-2.209-.9,2.958,2.958,0,0,1-.9-2.186A2.953,2.953,0,0,1-.982.574,3.018,3.018,0,0,1,1.227-.314,3.07,3.07,0,0,1,3.445.574M-.074,1.4A1.9,1.9,0,0,0-.6,2.772,1.914,1.914,0,0,0-.082,4.135a1.727,1.727,0,0,0,1.31.546,1.744,1.744,0,0,0,1.31-.546,1.878,1.878,0,0,0,.529-1.363A1.9,1.9,0,0,0,2.543,1.4a1.765,1.765,0,0,0-1.3-.56A1.782,1.782,0,0,0-.074,1.4"
                                        transform="translate(1.884 0.314)" />
                                </g>
                                <g id="Group_27" data-name="Group 27" transform="translate(64.62 76.033)">
                                    <path id="Path_13" data-name="Path 13"
                                        d="M1.545.885a.955.955,0,0,0-.289.792V2.76H2.651V3.852H1.257V8.658H0V3.852h-.84V2.76H0V1.57A1.985,1.985,0,0,1,.561.025,2.208,2.208,0,0,1,2.1-.484a2.807,2.807,0,0,1,.817.107V.693a4.435,4.435,0,0,0-.5-.037,1.375,1.375,0,0,0-.866.229"
                                        transform="translate(0.845 0.484)" />
                                </g>
                                <g id="Group_28" data-name="Group 28" transform="translate(0 91.884)">
                                    <path id="Path_14" data-name="Path 14"
                                        d="M2.134.305a1.8,1.8,0,0,1,.489,1.352V4.3H1.752V3.813a1.721,1.721,0,0,1-1.4.586,1.677,1.677,0,0,1-1.1-.345,1.132,1.132,0,0,1-.419-.919,1.081,1.081,0,0,1,.436-.905A1.862,1.862,0,0,1,.442,1.889H1.681V1.6A.925.925,0,0,0,1.435.911.941.941,0,0,0,.745.67a1.588,1.588,0,0,0-1.211.651L-1.009.769A2.128,2.128,0,0,1,.836-.167a1.791,1.791,0,0,1,1.3.472M1.35,3.386a.953.953,0,0,0,.331-.741V2.565H.558c-.515,0-.775.178-.775.535A.5.5,0,0,0,0,3.527a.922.922,0,0,0,.552.15,1.158,1.158,0,0,0,.8-.291"
                                        transform="translate(1.167 0.167)" />
                                </g>
                                <g id="Group_29" data-name="Group 29" transform="translate(5.089 91.887)">
                                    <path id="Path_15" data-name="Path 15"
                                        d="M2.543.419a2.292,2.292,0,0,1,.605,1.629,2.3,2.3,0,0,1-.605,1.638A2.015,2.015,0,0,1,1,4.336a1.8,1.8,0,0,1-1.46-.625V5.838h-.936V-.133h.874V.489A1.635,1.635,0,0,1,.122-.039,2.025,2.025,0,0,1,1-.229,2.012,2.012,0,0,1,2.543.419M1.805,3.08a1.426,1.426,0,0,0,.382-1.024,1.433,1.433,0,0,0-.382-1.032,1.264,1.264,0,0,0-.953-.4A1.32,1.32,0,0,0-.079.984,1.384,1.384,0,0,0-.463,2.048,1.4,1.4,0,0,0-.079,3.111a1.3,1.3,0,0,0,.931.368,1.264,1.264,0,0,0,.953-.4"
                                        transform="translate(1.391 0.229)" />
                                </g>
                                <g id="Group_30" data-name="Group 30" transform="translate(10.704 91.887)">
                                    <path id="Path_16" data-name="Path 16"
                                        d="M2.543.419a2.292,2.292,0,0,1,.605,1.629,2.3,2.3,0,0,1-.605,1.638A2.015,2.015,0,0,1,1,4.336a1.8,1.8,0,0,1-1.46-.625V5.838h-.936V-.133h.874V.489A1.635,1.635,0,0,1,.122-.039,2.025,2.025,0,0,1,1-.229,2.012,2.012,0,0,1,2.543.419M1.805,3.08a1.426,1.426,0,0,0,.382-1.024,1.433,1.433,0,0,0-.382-1.032,1.268,1.268,0,0,0-.953-.4A1.308,1.308,0,0,0-.076.984,1.375,1.375,0,0,0-.463,2.048,1.4,1.4,0,0,0-.076,3.111a1.292,1.292,0,0,0,.928.368,1.268,1.268,0,0,0,.953-.4"
                                        transform="translate(1.391 0.229)" />
                                </g>
                            </g>
                            <path id="Path_18" data-name="Path 18" d="M5.77,3.749H6.7V-2.926H5.77Z"
                                transform="translate(10.551 92.604)" />
                            <g id="Group_43" data-name="Group 43" transform="translate(0 0)"
                                clip-path="url(#clip-path)">
                                <g id="Group_32" data-name="Group 32" transform="translate(18.438 89.733)">
                                    <path id="Path_19" data-name="Path 19"
                                        d="M.7.117A.594.594,0,0,1,.889.558.578.578,0,0,1,.7.994a.62.62,0,0,1-.444.178A.637.637,0,0,1-.2.994.578.578,0,0,1-.384.558.594.594,0,0,1-.2.117.627.627,0,0,1,.258-.064.611.611,0,0,1,.7.117M.719,6.555H-.214V2.185H.719Z"
                                        transform="translate(0.384 0.064)" />
                                </g>
                                <g id="Group_33" data-name="Group 33" transform="translate(20.619 91.884)">
                                    <path id="Path_20" data-name="Path 20"
                                        d="M2.721,1.675H-.535a1.3,1.3,0,0,0,.47.846,1.5,1.5,0,0,0,.953.3,1.9,1.9,0,0,0,1.273-.518l.444.642a2.46,2.46,0,0,1-1.742.7A2.3,2.3,0,0,1-.82,3a2.182,2.182,0,0,1-.668-1.624A2.225,2.225,0,0,1-.835-.251,2.175,2.175,0,0,1,.772-.916a1.957,1.957,0,0,1,1.445.571,1.925,1.925,0,0,1,.574,1.431,2.6,2.6,0,0,1-.071.588M-.068.167a1.358,1.358,0,0,0-.45.778H1.858A1.026,1.026,0,0,0,1.53.167,1.143,1.143,0,0,0,.738-.121,1.2,1.2,0,0,0-.068.167"
                                        transform="translate(1.488 0.916)" />
                                </g>
                                <g id="Group_34" data-name="Group 34" transform="translate(25.69 89.678)">
                                    <path id="Path_21" data-name="Path 21"
                                        d="M2.935,0V6.675H2.064V6.05a1.748,1.748,0,0,1-1.53.721A2,2,0,0,1-1,6.121,2.3,2.3,0,0,1-1.6,4.495,2.328,2.328,0,0,1-1,2.86,2,2,0,0,1,.533,2.206a1.781,1.781,0,0,1,1.46.634V0ZM1.622,5.558A1.385,1.385,0,0,0,2.01,4.495a1.384,1.384,0,0,0-.393-1.064A1.3,1.3,0,0,0,.692,3.06a1.285,1.285,0,0,0-.962.4A1.421,1.421,0,0,0-.652,4.486,1.437,1.437,0,0,0-.27,5.518a1.282,1.282,0,0,0,.962.4,1.315,1.315,0,0,0,.931-.359"
                                        transform="translate(1.605)" />
                                </g>
                                <g id="Group_35" data-name="Group 35" transform="translate(33.666 91.885)">
                                    <path id="Path_22" data-name="Path 22"
                                        d="M2.145.437l-.506.58A1.374,1.374,0,0,0,.615.57c-.4,0-.6.141-.6.419a.348.348,0,0,0,.13.28,1.655,1.655,0,0,0,.45.238l.416.167a2.685,2.685,0,0,1,.908.557,1.058,1.058,0,0,1,.286.761,1.16,1.16,0,0,1-.464.984,1.852,1.852,0,0,1-1.157.351,2.1,2.1,0,0,1-1.759-.846l.532-.588a1.725,1.725,0,0,0,1.228.625.917.917,0,0,0,.5-.127.4.4,0,0,0,.2-.362.346.346,0,0,0-.147-.3,2.219,2.219,0,0,0-.467-.24L.233,2.3a2.616,2.616,0,0,1-.86-.526,1.018,1.018,0,0,1-.28-.747A1.109,1.109,0,0,1-.472.1a1.761,1.761,0,0,1,1.1-.337A1.883,1.883,0,0,1,2.145.437"
                                        transform="translate(1.173 0.239)" />
                                </g>
                                <g id="Group_36" data-name="Group 36" transform="translate(37.848 91.885)">
                                    <path id="Path_23" data-name="Path 23"
                                        d="M2.194.176a2.085,2.085,0,0,1,.761.744L2.3,1.434A1.4,1.4,0,0,0,1.122.767a1.3,1.3,0,0,0-.984.41,1.408,1.408,0,0,0-.388,1A1.425,1.425,0,0,0,.138,3.2a1.309,1.309,0,0,0,.984.4A1.419,1.419,0,0,0,2.3,2.947l.659.506A2.041,2.041,0,0,1,1.114,4.469,2.255,2.255,0,0,1-.53,3.807,2.2,2.2,0,0,1-1.2,2.181,2.179,2.179,0,0,1-.53.563,2.264,2.264,0,0,1,1.114-.1a2.144,2.144,0,0,1,1.08.272"
                                        transform="translate(1.2 0.096)" />
                                </g>
                                <g id="Group_37" data-name="Group 37" transform="translate(42.866 89.733)">
                                    <path id="Path_24" data-name="Path 24"
                                        d="M.7.117A.594.594,0,0,1,.889.558.578.578,0,0,1,.7.994a.624.624,0,0,1-.444.178A.637.637,0,0,1-.2.994.578.578,0,0,1-.384.558.594.594,0,0,1-.2.117.627.627,0,0,1,.258-.064.615.615,0,0,1,.7.117M.719,6.555H-.214V2.185H.719Z"
                                        transform="translate(0.384 0.064)" />
                                </g>
                                <g id="Group_38" data-name="Group 38" transform="translate(45.047 91.884)">
                                    <path id="Path_25" data-name="Path 25"
                                        d="M2.721,1.675H-.535a1.3,1.3,0,0,0,.47.846,1.5,1.5,0,0,0,.953.3,1.9,1.9,0,0,0,1.273-.518l.444.642a2.462,2.462,0,0,1-1.745.7A2.3,2.3,0,0,1-.82,3a2.182,2.182,0,0,1-.668-1.624A2.225,2.225,0,0,1-.835-.251,2.175,2.175,0,0,1,.772-.916a1.957,1.957,0,0,1,1.445.571,1.925,1.925,0,0,1,.574,1.431,2.6,2.6,0,0,1-.071.588M-.068.167a1.358,1.358,0,0,0-.45.778H1.858A1.018,1.018,0,0,0,1.527.167,1.133,1.133,0,0,0,.735-.121a1.2,1.2,0,0,0-.8.289"
                                        transform="translate(1.488 0.916)" />
                                </g>
                                <g id="Group_39" data-name="Group 39" transform="translate(50.396 91.886)">
                                    <path id="Path_26" data-name="Path 26"
                                        d="M2.185.307a1.789,1.789,0,0,1,.436,1.259V4.3H1.687V1.69A1.025,1.025,0,0,0,1.424.958a.9.9,0,0,0-.69-.28A.959.959,0,0,0,.018.961a1,1,0,0,0-.28.73V4.3h-.933V-.072h.871V.364A1.691,1.691,0,0,1,.983-.168a1.549,1.549,0,0,1,1.2.475"
                                        transform="translate(1.195 0.168)" />
                                </g>
                                <g id="Group_40" data-name="Group 40" transform="translate(55.236 91.885)">
                                    <path id="Path_27" data-name="Path 27"
                                        d="M2.194.176a2.085,2.085,0,0,1,.761.744L2.3,1.434A1.4,1.4,0,0,0,1.122.767a1.3,1.3,0,0,0-.984.41,1.408,1.408,0,0,0-.388,1A1.425,1.425,0,0,0,.138,3.2a1.309,1.309,0,0,0,.984.4A1.419,1.419,0,0,0,2.3,2.947l.659.506A2.041,2.041,0,0,1,1.114,4.469,2.255,2.255,0,0,1-.53,3.807,2.2,2.2,0,0,1-1.2,2.181,2.179,2.179,0,0,1-.53.563,2.264,2.264,0,0,1,1.114-.1a2.144,2.144,0,0,1,1.08.272"
                                        transform="translate(1.2 0.096)" />
                                </g>
                                <g id="Group_41" data-name="Group 41" transform="translate(60.059 91.884)">
                                    <path id="Path_28" data-name="Path 28"
                                        d="M2.721,1.675H-.538a1.3,1.3,0,0,0,.472.846,1.5,1.5,0,0,0,.953.3,1.9,1.9,0,0,0,1.273-.518l.444.642a2.462,2.462,0,0,1-1.745.7A2.3,2.3,0,0,1-.82,3a2.172,2.172,0,0,1-.668-1.624A2.225,2.225,0,0,1-.835-.251,2.175,2.175,0,0,1,.772-.916a1.961,1.961,0,0,1,1.445.571,1.925,1.925,0,0,1,.574,1.431,2.6,2.6,0,0,1-.071.588M-.068.167a1.358,1.358,0,0,0-.45.778H1.858A1.026,1.026,0,0,0,1.53.167,1.145,1.145,0,0,0,.735-.121a1.2,1.2,0,0,0-.8.289"
                                        transform="translate(1.488 0.916)" />
                                </g>
                                <g id="Group_42" data-name="Group 42" transform="translate(64.999 91.885)">
                                    <path id="Path_29" data-name="Path 29"
                                        d="M2.145.437l-.506.58A1.374,1.374,0,0,0,.615.57c-.4,0-.6.141-.6.419a.348.348,0,0,0,.13.28,1.655,1.655,0,0,0,.45.238l.416.167a2.685,2.685,0,0,1,.908.557,1.058,1.058,0,0,1,.286.761,1.16,1.16,0,0,1-.464.984,1.849,1.849,0,0,1-1.154.351,2.1,2.1,0,0,1-1.762-.846l.532-.588a1.725,1.725,0,0,0,1.23.625.914.914,0,0,0,.5-.127.4.4,0,0,0,.2-.362.346.346,0,0,0-.147-.3,2.219,2.219,0,0,0-.467-.24L.233,2.3a2.616,2.616,0,0,1-.86-.526,1.018,1.018,0,0,1-.28-.747A1.109,1.109,0,0,1-.472.1a1.761,1.761,0,0,1,1.1-.337A1.883,1.883,0,0,1,2.145.437"
                                        transform="translate(1.173 0.239)" />
                                </g>
                            </g>
                            <g id="Group_44" data-name="Group 44" transform="translate(18.397 15.551)">
                                <path id="Path_31" data-name="Path 31"
                                    d="M7.788,9.762V-5.1H5.44V4.759l-8.879-10.1h-.82V9.519h2.348V-.358l8.9,10.12Z"
                                    transform="translate(4.259 5.339)" />
                            </g>
                            <g id="Group_45" data-name="Group 45" transform="translate(34.142 15.794)">
                                <path id="Path_32" data-name="Path 32"
                                    d="M6.27,9.448H8.618V-5.167H6.27V.657H-1.081V-5.167H-3.429V9.448h2.348V2.761H6.27Z"
                                    transform="translate(3.429 5.167)" />
                            </g>
                            <g id="Group_47" data-name="Group 47" transform="translate(0 0)"
                                clip-path="url(#clip-path)">
                                <g id="Group_46" data-name="Group 46" transform="translate(17.355 37.725)">
                                    <path id="Path_33" data-name="Path 33"
                                        d="M4.732,8.045A2.86,2.86,0,0,1,2.9,8.6,4.632,4.632,0,0,1-.925,6.275L-2.588,7.536A6.171,6.171,0,0,0-.305,9.861a6.293,6.293,0,0,0,3.233.843,5.285,5.285,0,0,0,3.51-1.163A3.817,3.817,0,0,0,7.821,6.473a3.427,3.427,0,0,0-.863-2.39A8.135,8.135,0,0,0,4.322,2.309L2.684,1.557A7.64,7.64,0,0,1,1.112.626,1.428,1.428,0,0,1,.645-.525,1.514,1.514,0,0,1,1.29-1.843,2.648,2.648,0,0,1,2.863-2.3,3.559,3.559,0,0,1,5.94-.525L7.578-1.786a5.227,5.227,0,0,0-1.926-1.9A5.469,5.469,0,0,0,2.863-4.4,4.968,4.968,0,0,0-.416-3.3,3.537,3.537,0,0,0-1.745-.437a3.322,3.322,0,0,0,.9,2.37A7.811,7.811,0,0,0,1.666,3.616l1.615.755a7.063,7.063,0,0,1,1.652.973,1.549,1.549,0,0,1,.5,1.219,1.8,1.8,0,0,1-.7,1.482"
                                        transform="translate(2.588 4.4)" />
                                </g>
                            </g>
                            <g id="Group_48" data-name="Group 48" transform="translate(29.291 37.97)">
                                <path id="Path_35" data-name="Path 35"
                                    d="M4.7,9.448V-3.065H9.634v-2.1h-12.2v2.1H2.348V9.448Z"
                                    transform="translate(2.568 5.167)" />
                            </g>
                            <g id="Group_49" data-name="Group 49" transform="translate(43.684 37.967)">
                                <path id="Path_36" data-name="Path 36"
                                    d="M6.385,8.089h-7.53V3.462h5.47V1.423h-5.47V-2.32H6.119v-2.1H-3.492V10.194H6.385Z"
                                    transform="translate(3.492 4.424)" />
                            </g>
                            <g id="Group_51" data-name="Group 51" transform="translate(0 0)"
                                clip-path="url(#clip-path)">
                                <g id="Group_50" data-name="Group 50" transform="translate(72.027 37.968)">
                                    <path id="Path_37" data-name="Path 37"
                                        d="M2.964,0H-1.621V14.615H2.964a8.088,8.088,0,0,0,5.77-2.048,6.92,6.92,0,0,0,2.181-5.281A6.863,6.863,0,0,0,8.746,2.014,8.16,8.16,0,0,0,2.964,0M6.995,11.051a5.58,5.58,0,0,1-4.053,1.462H.727V2.127H2.941A5.683,5.683,0,0,1,7.006,3.533,4.911,4.911,0,0,1,8.5,7.286a5.016,5.016,0,0,1-1.5,3.765"
                                        transform="translate(1.621 0)" />
                                </g>
                            </g>
                            <g id="Group_52" data-name="Group 52" transform="translate(87.351 37.969)">
                                <path id="Path_39" data-name="Path 39"
                                    d="M1.518,5.1h5.47V3.06H1.518V-.683H8.781v-2.1H-.83V11.828H9.047v-2.1H1.518Z"
                                    transform="translate(0.83 2.787)" />
                            </g>
                            <g id="Group_53" data-name="Group 53" transform="translate(99.951 37.724)">
                                <path id="Path_40" data-name="Path 40"
                                    d="M0,0V14.861H2.348V4.984l8.9,10.12h.8V.243H9.7V10.1L.82,0Z" />
                            </g>
                            <g id="Group_54" data-name="Group 54" transform="translate(0.071 0)">
                                <path id="Path_41" data-name="Path 41"
                                    d="M0,0V68.351H68.354V37.97h-2.5v9.787L57.034,37.724h-.82V52.585h2.348V42.708L65.854,51V65.854H2.5V2.5H65.854V28.3H52.161V15.794H49.813V30.409H62.638V30.4h5.716V0Z" />
                            </g>
                        </g>
                    </g>
                </svg>

            </div>
        </div>
    </div>
</footer>