<div class="header-background">

    <header class="header" x-data="{ open: false }">
        <a href="/" class="header__logo">
            <span class="logo">InnovationLab</span>
            <span class="tagline">NHL Stenden Academie vo &amp; mbo</span>
        </a>


        <button @click="open = true" class="header__nav-button">
            <div :class="open ? 'hidden menu' : 'show menu'">Menu</div>
            <div :class="open ? 'show close' : 'hidden close'">Close</div>
        </button>

        <nav x-show="open" @click.away="open = false" class="header__mobile-nav">
            <div class="inner">
                <ul>
                    {{ nav:main_nav }}
                    <li><a href="{{ url }}" class="font-medium">{{ title }}</a></li>
                    {{ /nav:main_nav }}
                </ul>
            </div>
        </nav>

        <nav class="header__nav">
            <ul>
                {{ nav:main_nav }}
                <li><a href="{{ url }}" class="hash">{{ title }}</a></li>
                {{ /nav:main_nav }}
            </ul>

            <ul>
                <li><a href="/nl/login">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.5" height="20" viewBox="0 0 17.5 20">
                            <path id="Path_196" data-name="Path 196"
                                d="M12.25-5.625c-1.121,0-1.66.625-3.5.625s-2.375-.625-3.5-.625A5.251,5.251,0,0,0,0-.375v1A1.875,1.875,0,0,0,1.875,2.5h13.75A1.875,1.875,0,0,0,17.5.625v-1A5.251,5.251,0,0,0,12.25-5.625ZM15.625.625H1.875v-1A3.381,3.381,0,0,1,5.25-3.75a15.294,15.294,0,0,0,3.5.625,15.146,15.146,0,0,0,3.5-.625A3.381,3.381,0,0,1,15.625-.375ZM8.75-6.25a5.626,5.626,0,0,0,5.625-5.625A5.626,5.626,0,0,0,8.75-17.5a5.626,5.626,0,0,0-5.625,5.625A5.626,5.626,0,0,0,8.75-6.25Zm0-9.375a3.756,3.756,0,0,1,3.75,3.75,3.756,3.756,0,0,1-3.75,3.75A3.756,3.756,0,0,1,5-11.875,3.756,3.756,0,0,1,8.75-15.625Z"
                                transform="translate(0 17.5)" />
                        </svg>

                        Login
                    </a></li>
                <li>
                    {{ sites }}
                    {{ if site:handle !== handle}}
                    <a 
                    class="{{ site:handle === handle ?= 'active' }} header__language-switch" 
                    href="{{ url }}"
                    >
                        <svg xmlns="http://www.w3.org/2000/svg" width="19.375" height="19.375"
                            viewBox="0 0 19.375 19.375">
                            <path id="Path_196" data-name="Path 196"
                                d="M9.687-17.187A9.686,9.686,0,0,0,0-7.5,9.686,9.686,0,0,0,9.687,2.187,9.686,9.686,0,0,0,19.375-7.5,9.686,9.686,0,0,0,9.687-17.187Zm7,6.25H14.066a13.018,13.018,0,0,0-1.219-3.7A7.831,7.831,0,0,1,16.691-10.937Zm-7-4.375c.727,0,1.9,1.609,2.469,4.375H7.219C7.789-13.7,8.961-15.312,9.687-15.312ZM1.875-7.5a7.91,7.91,0,0,1,.156-1.562H5.066C5.027-8.551,5-8.035,5-7.5s.027,1.051.066,1.562H2.031A7.91,7.91,0,0,1,1.875-7.5Zm.809,3.437H5.309a13.018,13.018,0,0,0,1.219,3.7A7.831,7.831,0,0,1,2.684-4.062Zm2.625-6.875H2.684a7.831,7.831,0,0,1,3.844-3.7A13.018,13.018,0,0,0,5.309-10.937ZM9.687.312c-.727,0-1.9-1.609-2.469-4.375H12.16C11.586-1.3,10.414.312,9.687.312Zm2.738-6.25H6.949c-.043-.5-.074-1.016-.074-1.562s.031-1.063.074-1.562h5.48c.043.5.074,1.016.074,1.562S12.469-6.437,12.426-5.937Zm.422,5.574a13.142,13.142,0,0,0,1.219-3.7h2.625A7.831,7.831,0,0,1,12.848-.363Zm1.461-5.574c.039-.512.066-1.027.066-1.562s-.027-1.051-.066-1.562h3.035A7.91,7.91,0,0,1,17.5-7.5a7.91,7.91,0,0,1-.156,1.562Z"
                                transform="translate(0 17.187)" />
                        </svg>
                        {{ handle }}
                    </a>
                    {{ /if }}
                    {{ /sites }}
                </li>
            </ul>





        </nav>
    </header>

</div>