.button {
    background-color: white;
    color: #1162CE !important;
    border: 1px solid white;
    padding: 0.6rem 1rem;
    display: inline-block;
    cursor: pointer;
    transition: 0.3s ease;

}

.button:hover {
    background-color: transparent;
    border: 1px solid white;
    color: white !important;
}

.button--primary {
    background-color: #1162CE;
    border: 1px solid #1162CE;
    color: white !important;   
}

.button--primary:hover {
    background-color: white;
    border: 1px solid #1162CE;
    color: #1162CE !important;   
}


.button--outline {
    background-color: transparent;
    border: 1px solid #000;
    /* color: var(--color-gray) !important; */
    color: var(--color-black) !important;
    text-decoration: none;
    transition: 0.3s ease;
}

.button--outline:hover {
    background-color: #000;
    color: white !important;
}

.button--full-width {
    width: 100%;
}