body {
    font-family: neue-haas-unica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem; /* 20px */
}

.font-small {
        /* 16/20 */
        font-size: 1rem;
        line-height: 1.25rem;
   
}

.font-regular {
    /* 16/20 */
    font-size: 1rem;
    line-height: 1.25rem;

    @media only screen and (min-width: 1024px) {
        /* 20/24 */
        font-size: 1.25rem;
        line-height: 1.8rem;
    }
}

.font-medium,
h3 {
    /* 24/24 */
    font-size: 1.5rem;
    line-height: 1.5rem;
    letter-spacing: -0.05rem;

    @media only screen and (min-width: 600px) {
        /* 36/36 */
        font-size: 2.25rem;
        line-height: 2.25rem;
    }
}

.font-large,
h2 {
    /* 36/36 */
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.05rem;

    @media only screen and (min-width: 600px) {
        /* 48/48 */
        font-size: 3rem;
        line-height: 3rem;
    }
}

.font-xl,
h1 {
    /* 36/36 */
    font-size: 2.25rem;
    line-height: 2.25rem;
    letter-spacing: -0.05rem;

    @media only screen and (min-width: 600px) {
        /* 60/60 */
        font-size: 3.75rem;
        line-height: 3.75rem;
    }
}
