<article class="show">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <img src="{{ glide:image preset:large }}" alt="{{ title }}" class="show__image">

            </div>
           <div class="double-mb">
            <div class="offset-md-2 col-md-8 ">
                <h1 class="show__title">{{ title }}</h1>
                {{ content }}
                {{ if type == "text" }}
                <div class="base-mb text">{{ text }}</div>
                
                {{ elseif quote }}
                </div>
                <div class="offset-md-1 col-md-10 base-mb">
                    <div class="set--quote">
                        <blockquote class="font-large">{{ quote }}</blockquote>
                    </div>
                </div>
                <div class="offset-md-2 col-md-8">
                
                {{ elseif type == "video" }}
                    <div class="set--video">
                    <div class="row">
                        <div class="col-12 col-md-10 offset-md-1">
                            {{ if video | is_embeddable }}
                            <!-- Youtube and Vimeo -->
                            <iframe src="{{ video | embed_url }}" ...></iframe>
                            {{ else }}
                            <!-- Other HTML5 video types -->
                            <video src="{{ video | embed_url }}" ...></video>
                            {{ /if }}
                        </div>
                    </div>

                    </div>

                {{ elseif type == "carousel" }}
                </div>
                </div>
                </div>
                </div>
                <div class="set--carousel">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="swiper bard-swiper">
                            <div class="swiper-wrapper">
                                {{ images as image }}
                                <div class="swiper-slide">
                                    {{ partial:partials/card-bard }}
                                </div>
                                {{ /images }}
            
                            </div>
                            <div class="swiper__button-prev"></div>
                            <div class="swiper__button-next"></div>
            
            
                        </div>
                    </div>
                </div>
            </div>
                   </div>
                   <div class="container">
                    <div class="row">
                        <div class="double-mb">
                            <div class="offset-md-2 col-md-8 ">
                {{ /if }}

            {{ /content }}

            </div>
           </div>
    </div>
    </div>
</article>

<section class="section section--team base-mb">
    <div class="container base-mb">
        <div class="row">
            <div class="col-12 center">
                <header>
                    <h2 class="font-xl">Team</h2>
                </header>
            </div>
            <div class="swiper">
                <div class="swiper-wrapper">
                    {{ collection:team }}
                    <div class="swiper-slide">
                        {{ partial:partials/card-team }}
                    </div>
                    {{ /collection:team }}

                </div>
                <div class="swiper__button-prev"></div>
                <div class="swiper__button-next"></div>


            </div>

        </div>
    </div>
</section>
