@import "reset/reset";
@import "globals/bootstrap-grid.css";
@import "globals/typography";
@import "globals/button";
@import "site";
@import "partials/header";
@import "partials/footer";
@import "partials/hero";
@import "partials/section";
@import "partials/card";
@import "partials/innotalks";
@import "partials/login";

h2, h3, p {
    margin-bottom: 1rem;
}

article {
    h2, h3 {
        margin-top: 2rem;
    }
    
}

.set--quote blockquote {
    color: var(--color-blue);
}

.set--video video, .set--video iframe {
    margin-top:1rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 250px;
    border: 0;

    @media (min-width: 1024px) {
        height: 300px;

    }

    @media (min-width: 1200px) {
        height: 450px;

    }
}

.set--carousel {
    overflow: hidden;
    padding: 0;
    margin-top: -100px;

    .swiper__button-prev {
        margin-left: 0;
    }

    .swiper__button-next {
        margin-left: 65px;
    }


    @media (min-width: 1200px) {
        padding-top: 180px;
    }
}

