/* This is all you. */

:root {
    --color-blue: #1162ce;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-gray: #B4B4B4;
    --color-light-green: #f1fbf8;
    --color-green: #b0e6d6;
}

.header-background {
    width: 100%;
    height: 470px;
    background-color: #f1fbf8;
    background-image: url("/img/header-background.svg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.center {
    text-align: center;
}

.base-mb {
    margin-bottom: 50px;
}

.base-mt {
    margin-top: 50px;
}

.double-mb {
    margin-bottom: 100px;
}

.double-mt {
    margin-top: 100px;
}

.base-pb {
    padding-bottom: 50px;
}

.base-pt {
    padding-top: 50px;
}

.double-pb {
    padding-bottom: 100px;
}

.double-pt {
    padding-top: 100px;
}

.swiper {
    overflow: visible;
    /* width: 600px; */
    /* height: 300px; */
}

.swiper__button-prev,
.swiper__button-next {
    background-image: url("/img/triangle-left-o.svg");
    width: 52px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -115px;
    cursor: pointer;
    margin-left: 12px;

    @media screen and (max-width: 1280px) {
        display: none;
    }
}

.swiper__button-next {
    background-image: url("/img/triangle-right-o.svg");
    margin-left: 76px;
}

.swiper-button-disabled {
    opacity: 0.3;
}

.show__image {
    margin-top: -300px;
    margin-bottom: 50px;
}

.show__title {
    margin-bottom: 2rem;
}

.alert {
    background-color: rgb(79, 79, 79);
    color: white;
    padding: 1rem;
    margin-bottom: 30px;
    display: none;
}

.alert-error {
    background-color: rgb(215, 56, 56);
    display: block;
}