.card {

    figure {
        margin-bottom: 1rem;
        height: 300px;

        img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
        }
    }
}

.card__content {
    

    h3 {
        margin-bottom: 1rem;
    }

    .excerpt {
        margin-bottom: 1rem;
    }
}


.card--medium {
    margin-bottom: 2rem;
    figure {
        height: 350px;
    }
}

.swiper-slide {
    width: auto;
} 

.card--bard {
    margin-bottom: 2rem;
    height: 250px;
    width: auto;

    @media (min-width: 1200px) {
        height: 600px;
    }

    figure, img {
        width: auto;
        height: 100%;
    }
}