.footer {
    position: relative;
    background-color: #f1fbf8;
    background-image: url(/img/header-background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;

    margin-top: -100px;
    padding-top: 100px;
    z-index: 0;
}

.footer__logo {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: flex-end;
    height: 45px;
    cursor: pointer;

    .logo {
        margin-right: 1rem;
        width: 336px;
        height: 37px;
        background-repeat: no-repeat;
        background-image: url("/img/logo.svg");
        background-size: 100%;
        text-indent: -9999px;
        display: inline-block;
    }
}

.footer__nav {
    margin-bottom: 2rem;
    ul {
        li {
            margin-right: 1rem;
            display: block;

            a {
                text-decoration: none;
                color: #000;
            }
        }
    }
}
