.header {
    padding: 1rem;
    position: relative;
    height: 100px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1680px) {
        padding: 3rem;
    }
}

.header__logo {
    text-decoration: none;
    color: inherit;
    height: 45px;
    cursor: pointer;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: flex-end;
    
    }

    .logo {
        margin-right: 1rem;
        width: 207px;
        height: 22px;
        background-repeat: no-repeat;
        background-image: url("/img/logo.svg");
        background-size: contain;
        text-indent: -9999px;
        display: inline-block;

        @media screen and (min-width: 768px) {
            width: 310px;
            height: 33px;
        }

        @media screen and (min-width: 1680px) {
            width: 415px;
            height: 45px;
        }
    }

    .tagline {
        display: none;
        line-height: 1;
        font-size: 14px;

        @media screen and (min-width: 1280px) {
            display: inline-block;
        }
    }
}

.header__nav-button {
    display: none;
    height: 50px;
    cursor: pointer;
    
    @media screen and (max-width: 1280px) {
        z-index: 10001;
        display: flex;
    }
    .close {
        color: white;
    }

    .show {
        display: flex;
    }

    .hidden {
        display: none;
    }
}

.header__nav {
    display: none;

    @media screen and (min-width: 1280px) {
        display: flex;
    }

    ul {
        margin-right: 2rem;
        height: 50px;
        display: flex;
        align-items: flex-end;

        li {
            margin-right: 1rem;

            a {
                cursor: pointer;
                text-decoration: none;
                color: #000;
            }
        }
    }
}

.header__language-switch {
    text-transform: uppercase;
}

.header__mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    color: var(--color-white);
    background-color: var(--color-blue);


    .inner {
        height: 100%;
        display: flex;
        align-items: center;
    }
    li  {
        margin-bottom: 5px;
    }
    
}

[x-cloak] { 
    display: none !important;
 }
