.hero {
    margin-top: -400px;
    @media screen and (min-width: 728px) {
        margin-top: -350px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: -300px;
    }
}

.hero__card {
    position: relative;
    height: 400px;
    color: white;

    @media screen and (min-width: 1280px) {
        height: 600px;

    }


    figure {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.8;
        z-index: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .content {
        position: relative;
        z-index: 10;
        padding: 1rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (min-width: 768px) {
            padding: 2rem
        }

    }

    h2 {

    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        span {
            margin-top: 1rem;
        }

        span a {
            text-decoration: underline;
        }

        @media screen and (min-width: 768px) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
        }
    }

    a {
        color: white;
        cursor: pointer;
    }
}

.hero__left {
    background-color: #000;

}

.hero__right {
    background-color: #1162CE;

}