
.innotalks-index {
    margin-top: -300px;
    display: flex;
    justify-content: center;

    h1 {
        margin-bottom: 4rem;
        text-align: center;
    }

    h2 {
        margin-bottom: 2rem; 
     }
}

.innotalks-index__upcoming, .innotalks-index__past {
    .inner {
        margin: 2rem;
    }
}

.innotalks-index__upcoming {
    background-color: var(--color-blue);
    color: var(--color-white);
}

.innotalks-show {
    margin-top: -300px;
}

.innotalks-show__header {

    @media screen and (min-width: 1280px) {
        min-height: 300px;
    }
}

.innotalks-show__back {
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.innotalks-show__back img {
    width: 20px;
    height: 20px;
    margin-right: 0.8rem;
}

.innotalks-show__title {
    margin-bottom: 0;
}

.innotalks-show__date {
    margin-bottom: 1rem;
    color: var(--color-blue) !important;
}

.innotalks-show__time {
    color: var(--color-blue) !important;
}


.innotalks {
    background-color: var(--color-blue);
    color: var(--color-white);
    height: 100%;

    @media screen and (min-width: 1280px) {
        display: flex;
    }
}

.innotalks > * {
    flex-basis: 100%;
}

.innotalks__left {
    display: block;
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 1280px) {
        height: 100%
    }
}

.innotalks__right {
    margin: 2rem;
}

.innotalks__footer {
    display: flex;
    margin-bottom: 1rem;
    /* justify-content: flex-end; */
}

.innotalks__footer a {
    text-decoration: underline;
    cursor: pointer;
}

.talk-item {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid;
    display: block;
    cursor: pointer;
}

.talk-item:last-child {
    border: 0;
}

.talk-item__day {
    text-align: left;

    @media screen and (min-width: 1280px) {
        text-align: center;
    }
}

.talk-item__month {
    text-align: left;
    margin-bottom: 1rem;

    @media screen and (min-width: 1280px) {
        text-align: center;
    }
}
