.login {
    height: 100vh;
    background-color: var(--color-light-green);
    background-image: url("/img/login-background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;

    @media (max-width: 1023px) {
        flex-direction: column;
        justify-content: flex-start;
    }

    label {
        display: block;
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="password"] {
        width: 100%;
        clear: both;
        margin-bottom: 1rem;
        border: 1px solid var(--color-gray);
        height: 50px;
        padding: 1rem;
    }

    /* https://stackoverflow.com/questions/1120879/css-checkbox-input-styling */
    .form-group--login label {
        margin-top: 6px;
        margin-left: 24px;
    }
    input[type="checkbox"] {
        position: relative;
        cursor: pointer;
        top: -18px;
        left: -24px;
    }
    input[type="checkbox"]:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        /* margin-top: -18px;
        margin-left: -20px; */
        left: 0;
        background-color: #e9e9e9;
    }
    input[type="checkbox"]:checked:before {
        content: "";
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        /* margin-top: 18px;
        margin-left: 20px; */
        background-color: var(--color-blue);

    }
    input[type="checkbox"]:checked:after {
        margin-top: 2px;
        margin-left: 1px;
        content: "";
        display: block;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        top: 2px;
        left: 6px;
    }

    .form-group {
        display: block;
    }

    .form-group--login {
        margin-bottom: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .form-group--login button.loading {
        background-color: var(--color-gray);
        border-color: var(--color-gray);
        cursor: default;
    }

    .form-group--login button.loading:hover {
        color: white !important;
    }
}

.login__left {
    margin: 2rem 0;
    @media (min-width: 1024px) {
        margin: 0;
    }
}

.login__logo {
    margin: 1rem;
}

.login__inner {
    flex-basis: 500px;
    padding: 1rem;
    height: 100vh;
    background-color: white;
    margin: 1rem;

    @media (min-width: 1024px) {
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2rem;
    }
}

.login__form-wrapper {
}

.login__form-header {
    margin-bottom: 50px;
}

.login__title {
    margin-bottom: 1rem;
}

.login-divider {
    margin-bottom: 2rem;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login-divider hr {
    border-bottom: 1px solid #d9d9d9;
    width: 100%;
}

.login-divider div {
    position: absolute;
    background: #fff;
    padding: 0 1rem;
}
