.section {
    overflow: hidden;

    header {
        margin-bottom: 4rem;
    }
}

.section--onderwijs {
    background-color: #f1fbf8;
}

.section--contact {
    position: relative;
    z-index: 1;
}

.section--contact__inner {
    background-color: var(--color-blue);
    color: var(--color-white);

    @media screen and (max-width: 1280px) {
        padding: 4rem 1rem;
    }

    h2, h3 {
        margin-bottom: 2rem;
    }

}
