<section class="innotalks-index">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Innotalks</h1>
            </div>
            
      <div class="innotalks-index__upcoming base-mb">
         <div class="inner">
            <h2 class="font-medium">{{ locale == "en" ? "Soon" : "Binnenkort" }}</h2>
            {{ collection:innotalks event_date:is_after="today"  sort="event_date:asc"  }} 
            {{ if no_results }}
                <p>{{ locale == "en" ? "No upcoming events." : "Er zijn binnenkort geen activiteiten." }}</p>
                {{ else }} 
            <a href="/{{ locale }}/innotalks/{{ slug }}" class="talk-item">
                <div class="row">
                    <div class="col-md-2">
                        <span class="talk-item__date">
    
                            <div class="talk-item__day font-xl">{{ event_date format="d"  }}</div>
                            <div class="talk-item__month font-regular">{{ event_date format="M"  }}</div>
                        </span>
                    </div>
                    <div class="col-md-8">
                        <h3 class="talk-item__title font-medium">{{ event_date }} / {{ title }}</h3>
                    </div>
                </div>
            </a>
            {{ /if }}
            {{ /collection:innotalks}}
         </div>
      </div>

  <div class="innotalks-index__past">
   <div class="inner">
    <h2 class="font-medium">{{ locale == "en" ? "Past" : "Geweest" }}</h2>

    {{ collection:innotalks event_date:is_before="today" }}
    <a href="/{{ locale }}/innotalks/{{ slug }}" class="talk-item">
        <div class="row">
            <div class="col-md-2">
                <span class="talk-item__date">

                    <div class="talk-item__day font-xl">{{ date format="d"  }}</div>
                    <div class="talk-item__month font-regular">{{ date format="M"  }}</div>
                </span>
            </div>
            <div class="col-md-8">
                <h3 class="talk-item__title font-medium">{{ title }}</h3>
            </div>
        </div>
    </a>
    {{ /collection:innotalks}}
   </div>

  </div>
        </div>
    </div>
</section>