<article class="innotalks-show base-mb">
  <section class="innotalks-show__header">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                <a href="/{{ locale }}/innotalks" class="innotalks-show__back font-small">
                    <img src="/img/triangle-left.svg" alt="{{ title }}">
                    {{ locale == "en" ? "Back to Innotalks" : "Terug naar Innotalks" }}
                </a>
            </div>
            <div class="col-lg-5">
                <h1 class="innotalks-show__title">{{ title }}</h1>
                <div class="innotalks-show__date font-xl">{{ event_date format="d.m.Y"}}</div>
                <div class="innotalks-show__time font-regular base-mb">{{ locale == "en" ? "Starting time:" : "Starttijd:" }} {{ event_date format="H:i"}}</div>

             
            </div>
            <div class="col-lg-4 offset-md-1">
                <img src="{{ glide:image preset:large }}" alt="{{ title }}" class="innotalks-show__image">

            </div>
 
    </div>
    </div>
  </section>
  <section class="innotalks-show__content">
      <div class="container">
          <div class="row">
              <div class="col-lg-5 offset-lg-2">
                <div class="innotalks-show__content">
                    {{ content }}
                    <div class="base-mb base-mt">{{ text }}</div>
                    {{ /content }}
                </div>
              </div>
          </div>
      </div>
  </section>
</article>
